@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --color-primary: #2563EB;
    --color-secondary: #06f3a4;
    --color-accent: #f6cd26;
    --color-bg: #ffffff;
    --color-bg-rgb: 255, 255, 255;
    --color-text: #1f2937;
    --color-text-secondary: #B2B2B2;
    --color-detail: #E5E7EB;
    --color-danger: #EF4444;
  }

  .dark {
    --color-primary: #3B82F6;
    --color-secondary: #06c167;
    --color-accent: #FBBF24;
    --color-bg: #111827;
    --color-bg-rgb: 17, 24, 39;
    --color-text: #F9FAFB;
    --color-text-secondary: #888787;
    --color-detail: #374151;
    --color-danger: #F87171;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: color 300ms, background-color 300ms;
  }

  @layer utilities {
    /* Backgrounds */
    .bg-primary {
      background-color: var(--color-primary) !important;
    }
  
    .bg-secondary {
      background-color: var(--color-secondary) !important;
    }
  
    .bg-accent {
      background-color: var(--color-accent) !important;
    }

    .bg-text {
      background-color: var(--color-text) !important;
    }

    .bg-text-secondary {
      background-color: var(--color-text-secondary) !important;
    }

    .bg-detail {
      background-color: var(--color-detail) !important;
    }
  
    .bg-background {
      background-color: var(--color-bg) !important;
    }
    
    .bg-background-60 {
      background-color: rgba(var(--color-bg-rgb), 0.6) !important;
    }
    
    .bg-background-80 {
      background-color: rgba(var(--color-bg-rgb), 0.8) !important;
    }

    .bg-danger {
      background-color: var(--color-danger) !important;
    }
    

    /* Shadows */
    .shadow-text {
      box-shadow: 0 0 8px -4px var(--color-text) !important;
    }
    .hover\:shadow-accent:hover {
      box-shadow: 0 0px 6px 0px var(--color-text) !important;
    }

    /* ring */
    .ring-text {
      --tw-ring-color: var(--color-text) !important;
    }

    .ring-detail {
      --tw-ring-color: var(--color-detail) !important;
    }

    .ring-text-secondary {
      --tw-ring-color: var(--color-text-secondary) !important;
    }
  
    /* Text colors */
    .text-primary {
      color: var(--color-primary) !important;
    }
  
    .text-secondary {
      color: var(--color-secondary) !important;
    }
  
    .text-accent {
      color: var(--color-accent) !important;
    }
  
    .text-text {
      color: var(--color-text) !important;
    }

    .text-background {
      color: var(--color-bg) !important;
    }
  
    .text-text-secondary {
      color: var(--color-text-secondary) !important;
    }
  
    /* Borders */
    .border-text {
      border-color: var(--color-text) !important;
    }

    .border-primary {
      border-color: var(--color-primary) !important;
    }
  
    .border-secondary {
      border-color: var(--color-secondary) !important;
    }
  
    .border-accent {
      border-color: var(--color-accent) !important;
    }
  
    .border-detail {
      border-color: var(--color-detail) !important;
    }
  
    /* Hover states */
    .hover\:bg-primary:hover {
      background-color: var(--color-primary) !important;
    }
  
    .hover\:bg-secondary:hover {
      background-color: var(--color-secondary) !important;
    }

    .hover\:bg-text:hover {
      background-color: var(--color-text) !important;
    }
  
    .hover\:bg-accent:hover {
      background-color: var(--color-accent) !important;
    }
  
    .hover\:text-primary:hover {
      color: var(--color-primary) !important;
    }
  
    .hover\:text-secondary:hover {
      color: var(--color-secondary)!important;
    }
  
    .hover\:text-accent:hover {
      color: var(--color-accent) !important;
    }

    .hover\:text-text:hover {
      color: var(--color-text) !important;
    }

    .hover\:text-detail :hover {
      color: var(--color-detail) !important;
    }

    .hover\:bg-text-secondary:hover
    {
      background-color: var(--color-text-secondary) !important;
    }

    .hover\:bg-danger:hover {
      background-color: var(--color-danger) !important;
    }

    /* estilo personalizado mas pequeo */

    @media (max-width: 424px) {
      .xs\:mt-8 { margin-top: 2rem !important; }
      .xs\:ml-0 { margin-left: 0 !important; }
      .xs\:flex-col {flex-direction: column !important;}
      .xs\:w-full { width: 100% !important; }
      .xs\:hidden { display: none !important; }
      .xs\:hidden { display: none !important; }
      .xs\:text-2xl { 
        font-size: 1.5rem !important; /* 24px */
        line-height: 2rem !important; /* 32px */
      }
      .xs\:text-sm {
        font-size: 0.875rem !important;  /* 14px */
        line-height: 1.25rem !important; /* 20px */
      }
      .xs\:text-base {
        font-size: 1rem !important;      /* 16px */
        line-height: 1.5rem !important;  /* 24px */
      }
      .xs\:text-3xl {
        font-size: 1.875rem !important;   /* 30px */
        line-height: 2.25rem !important;  /* 36px */
      }

    }
  }
}