@import "tailwindcss";
@layer base {
  :root {
    --color-primary: #2563EB;
    --color-secondary: #06f3a4;
    --color-accent: #f6cd26;
    --color-bg: #ffffff;
    --color-text: #1f2937;
    --color-text-secondary: #757575;
    --color-detail: #E5E7EB;
  }

  .dark {
    --color-primary: #3B82F6;
    --color-secondary: #06BC167;
    --color-accent: #FBBF24;
    --color-bg: #111827;
    --color-text: #F9FAFB;
    --color-text-secondary: #D6D6D6;
    --color-detail: #374151;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: color 300ms, background-color 300ms;
  }
}
